@font-face {
    font-family: 'Jersey25';
    src: url('Jersey25-Regular.ttf');
}

.input-group .form-control {
}

.btn-primary {
}

.titled-pane > .title {
    -fx-padding: 3;
    -fx-font-size: 12;
}

.h1 {
    -fx-font-family: 'Jersey 25';
    -fx-font-size: 48px;
}

.welcome-text {
    font-size: 16px;
    font-weight: bold;
    color: #2c3e50; /* Dark blue color */
}

.history-title {
    font-family: 'Jersey25';
    src: url('Jersey25-Regular.ttf');
}

.login-title {
    -fx-font-family: 'Jersey 25';
    -fx-font-size: 20px;
    -fx-text-fill: #333;
}

.close-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.large-titled-pane {
    -fx-font-size: 20px;
    -fx-padding: 20px;
}

.large-clock {
    -fx-font-size: 48px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow(one-pass-box, black, 10, 0.5, 0, 0);
    -fx-padding: 20px;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-alignment: center;
    -fx-font-family: 'Jersey 25', monospace;

}

.close-button:hover {
    -fx-background-color: #d3d3d3;
}

.login-label {
    -fx-font-family: 'Jersey 25';
    -fx-font-size: 20px;
    -fx-text-fill: #333;
}
